.repository-conteiner {
    margin: 50px 10px 25px 0;
}

.title-icon {
    margin-top: -5px;
}

.repository-content {
    flex: 1;
}

.repo-name {
    font-weight: 600;
    font-size: 20px;
}

.repo-description {
    font-size: 15px;
    margin-bottom: 5px;
}

.star-icon {
    color: #FFCE00;
    font-size: 20px;
    margin-top: -5px;
}

.unlock-icon {
    color: #63BF1F;
    font-size: 20px;
    margin-right: 8px;
}

.lock-icon {
    color: #CC042A;
    font-size: 20px;
}