.background-user-image {
    background-color: #1f1f1f;
    height: 120px;
    padding: 20px 20px 0 10px;
}

.user-logout {
    font-weight: 100;

    a {
        color: #FFF;

        &:hover {
            color: #FFCE00;
        }
    }
}

.user-login-icon {
    color: #5CBC29;
}

.user-logout-icon {
    color: #d03434;
}

.login-logout {
    font-size: 20px;
    margin-left: 10px;
}

.user-image {
    border-radius: 50%;
    border: solid;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-bottom: 45px;
}

.user-name {
    text-transform: uppercase;
}

.background-user-options {
    display: flex;
    justify-content: space-around;
    background-color: #5252525D;
    padding: 20px 0;
    margin-top: 40px;
}

.option {
    font-size: 40px;
}

.user-bio {
    display: flex;
    padding: 50px 10px 150px 0;

    h1 {
        margin-bottom: 5px;
    }
}

.title-align {
    flex: 1;
}

p {
    margin: 0;
    font-weight: 100;
}

h1 {
    margin: 0;
}

@media (max-width: 768px) {
    .container-xxl {
        padding: 0;
    }
}

@media (min-width: 769px) {
    .container-xxl {
        width: 50%;
    }
}